@model List<CarWithParts>

@{
    ViewData["Title"] = "WithParts";
}

<a href="/cars/create" class="btn btn-primary">Add Car</a>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Make
            </th>
            <th>
                Model
            </th>
            <th>
                Travelled distance
            </th>
            <th>
                Parts
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>
                    <a href="/cars/@car.Make">@car.Make</a>
                </td>
                <td>
                    @car.Model
                </td>
                <td>
                    @car.TravelledDistance
                </td>
                <td>
                    <ul>
                        @foreach (var part in car.Parts)
                        {
                            <li>@part.Name - @part.Price</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>


